/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, h4, h3, p,
form, fieldset, label, textarea,
button, article, footer, small {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: inherit;
	font-family: inherit;
	box-sizing: content-box;;
	color: inherit;
	text-align: inherit;
	text-decoration: none;
	background: transparent;
	box-shadow: none;
	list-style: none;
}

h1 {
	font-weight: bold;
	font-size: 3em;
}

.group:after {
	content: "";
	clear: both;
	display: block;
}

.collumn {
	width: 150px;
	padding: 10px;
	display: inline-block;
	border: 1px solid black;
}

.product-section {
	height: auto;
	display: inline-block;
	width: 80%;
	padding: 20px;
}

.inventory-headers {
	font-weight: bold;
}

.inventory-headers > div {
	background: lightblue;
	border: 1px solid black;
}

.inventory {
	float: right;
	width: 65%;
	text-align: right;
}

.showoff {
	float: left;
	width: 30%;
}

.display-img {
	width: 300px;
	height: 400px;
}